<div class="col-lg-8 mx-2">
    <div class="card text-center y-2 mt-4 bg-dark" style="width: 75rem;">
        <div class="card-header text-white">
            <h4 class="card-title"> Concerts</h4>
        </div>
        <div class="card-body text-white">
            <!-- Tableau pour les différents concerts -->
            <table class="table tablesorter">
                <thead>
                    <tr>
                        <!-- Nom de la colonne pour afficher le numéro -->
                        <th class="text-center  text-white">#</th>
                        <!-- Nom de la colonne pour afficher le nom de l'évènement -->
                        <th class="text-white">Nom de l'évènement</th>
                        <!-- Nom de la colonne pour afficher la date -->
                        <th>Date</th>
                        <!-- Nom de la colonne pour les boutons de réservations-->
                        <th class="text-right text-white">Cliquez sur le bouton pour réserver votre billet !</th>
                    </tr>
                </thead>
                <!-- Zone pour afficher les données des concerts -->
                <tbody class="tableauConcert text-white" id="tableauConcert"></tbody>
            </table>
        </div>
    </div>
</div>
