/* Make Spotify Songs Look More Round */
  iframe {
    border-radius: 5px;
  }
  body  {
    background-color: black;
  }

  .inline-div {
        display:inline-block;
  }

  .inline-input {
        resize: none;
        border : 1px solid black;
        margin : 20px;
        margin-top: auto;
  }

  .tabulation {
  display: inline-block;
  margin-left: 180px;
  }

  .tabulation2 {
  display: inline-block;
  margin-left: 70px;
  }
  .col {
    display: inline-block;
  }
  #song-list {
    position: absolute;
    top: 20%; left: 10%;
  }.recherche {
    position: absolute;
    top: 30%; left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    border-radius: 40px;
    padding: 10px;
  }
