<div class="col-lg-2 mx-2">
    <div class="card text-center y-1 mt-0 bg-dark" style="width: 74rem;">
        <div class="card-header">
            <h2 class="card-title text-white">Recherche</h2>
        </div>
        <!-- Saisie de l'artiste et du titre -->
        <div class="card-body">
            <h4 class='text-white'> Artiste : <span class="tabulation"></span> Titres : </h4>
            <div class="inline-div">
                <input #artiste class="inline-input" type="text" name="name" id="name" style="background-color:#aedd94;">
                <input #titre class="inline-input" type="text" name="titres" id="titres" style="background-color:#aedd94;">
            </div>
            <br>
            <!-- Bouton pour rechercher des sons -->
            <button class="btn btn-secondary animation-on-hover mx-5" type="button" value=Rechercher (click)="rechercheSons(artiste.value,titre.value);">Rechercher</button>
            <br>
            <br>
            <!-- Affichage des sons -->
            <div class="container">
                <div class="row">
                    <div id="song_1" class="col"></div>
                    <div id="song_2" class="col"></div>
                    <div id="song_3" class="col"></div>
                </div>
                <div class="row">
                    <div id="song_4" class="col"></div>
                    <div id="song_5" class="col"></div>
                    <div id="song_6" class="col"></div>
                </div>
                <div class="row">
                    <div id="song_7" class="col"></div>
                    <div id="song_8" class="col"></div>
                    <div id="song_9" class="col"></div>
                </div>
            </div>
        </div>
    </div>
</div>
