<div *ngIf="isVisibleAccueil">
<span class="mask bg-gradient-dark opacity-5"> </span>
  <div class="row text-center py-5 bg-dark vh-100">
    <h1 style="text-align:center" class=" text-white"> Easify. </h1>
  <div class="col-12 mx-1 my-1 bg-dark">
    <button (click)=loginSpotify(); type="button" class="btn btn-success bg-sucess btn-lg w-auto me-3" > Se connecter</button>
    <button (click)=logoutSpotify(); type="button" class="btn btn-danger bg-sucess btn-lg w-auto me-3" > Se déconnecter</button>

  </div>
  </div>
  </div>
  <div class="row text-center py-5 bg-dark vh-100">
    <form *ngIf="isVisibleStatistiques">
      <app-statistiques  [token]="token" [isConnected]="isConnected"></app-statistiques>
      <!-- [token]="token" [isConnected]="isConnected" -->
    </form>

    <form *ngIf="isVisibleConcerts">
      <app-concerts></app-concerts>
    </form>

    <form *ngIf="isVisibleContact">
      <app-contact></app-contact>
    </form>

    <form *ngIf="isVisibleAPropos">
      <app-apropos></app-apropos>
    </form>
    <!-- Bloc d'affichage de SPOTIFY -->
<form *ngIf="isVisibleRecherche">
    <app-recherche [token]="token" [isConnected]="isConnected"></app-recherche>
</form>
  </div>
